body {
  background: lightblue;
}

.questionCard {
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
}

.creator {
  color: blue;
  font-weight: 500;
  font-size: 1.1em;
}

.createdOn {
  color: lightslategray;
}

.questionSpace {
  float: right;
  border: 1px solid blue;
  padding: 2px;
  border-radius: 5px;
}

.questionSpace {
  border: 1px solid blue;
  padding: 2px;
  border-radius: 5px;
}

.questionMain {
  margin-top: 5px;
  margin-bottom: 5px;
}

.questionTitle {
  font-weight: bold;
  margin: 6px auto 6px auto;
}

.questionContent {
  margin: 6px auto;
}

.editDelete {
  float: right;
  color: blue;
}

.editDelete button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: blue;
  cursor: pointer;
}

.editDelete button:hover {
  text-decoration: underline;
}

.answerCard {
  width: 95%;
  background: rgb(250, 255, 250);
  margin: 10px 0% 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
}

.answerForm {
  width: 90%;
  background: rgb(250, 255, 250);
  margin: 10px 0% 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
}

.Placeholder {
  color: gray;
}

.editQuestionButton {
  background: white;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 5px 20px;
}

.editQuestionButton:hover {
  background: rgb(207, 243, 255);
}

.voteButton {
  background: white;
  border: 0px solid black;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 5px;
}

.voteButton:hover {
  text-decoration: underline;
}

.voteButton:disabled {
  text-decoration: none;
  color: gray;
  cursor: not-allowed;
}

.activeClass {
  color: red;
  background-color: red;
}

.questionCardMain {
  background: white;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
}

.questionFloatLeft {
  width: 30%;
  float: left;
  padding: 10px;
}

.questionFloatRight {
  width: 70%;
  float: left;
  padding: 10px;
}
