body {
  background: #e7eeff;
}

.questionCard {
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
}

.creator {
  color: blue;
  font-weight: 500;
  font-size: 1.1em;
}

.createdOn {
  color: lightslategray;
}

.questionSpace {
  float: right;
  border: 1px solid blue;
  padding: 2px;
  border-radius: 5px;
}

.questionSpace {
  border: 1px solid blue;
  padding: 2px;
  border-radius: 5px;
}

.questionMain {
  margin-top: 5px;
  margin-bottom: 5px;
}

.questionTitle {
  font-weight: bold;
  margin: 6px auto 6px auto;
}

.questionContent {
  margin: 6px auto;
}

.editDelete {
  float: right;
  color: blue;
}

.editDelete button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: blue;
  cursor: pointer;
}

.editDelete button:hover {
  text-decoration: underline;
}

.answerCard {
  width: 95%;
  background: rgb(230, 255, 243);
  margin: 10px 0% 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
}

.answerForm {
  width: 90%;
  background: rgb(250, 255, 250);
  margin: 10px 0% 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
}

.Placeholder {
  color: gray;
}

.editQuestionButton {
  background: white;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 5px 20px;
}

.editQuestionButton:hover {
  background: rgb(207, 243, 255);
}

.editQuestionButton:disabled {
  background: white;
  text-decoration: none;
  color: gray;
  cursor: not-allowed;
}

.voteButton {
  background: white;
  border: 0px solid black;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 5px;
}

.voteButton:hover {
  text-decoration: underline;
}

.voteButton:disabled {
  text-decoration: none;
  color: gray;
  cursor: not-allowed;
}

.activeClass {
  color: red;
  background-color: red;
}

.questionCardMain {
  background: white;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
}

.questionFloatLeft {
  width: 30%;
  float: left;
  padding: 10px;
}

.questionFloatRight {
  width: 70%;
  float: left;
  padding: 10px;
}

.askQuestion {
  float: right;
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: white;
}

.showMore {
  margin: 20px;
  font-size: small;
  text-decoration: none;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.showMore:hover {
  text-decoration: underline;
}

/* @keyframes myAnimation {
  0% {
    opacity: 1;
  }
  100% {
    height: 0px;
    width: 0px;
    display: none;
    opacity: 0;
  } */
/* } */

.showMore:active {
  background-color: white;
  color: blue;
  /* animation-name: myAnimation;
  animation-duration: 100ms;
  animation-fill-mode: forwards; */
}

.outer {
  display: table;
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* border: 1px solid red; */
  text-align: center;
  padding-bottom: 40px;
  max-width: 450px;
}

.innerException {
  width: 80%;
  max-width: 600px;
}

.formContainer {
  background: rgb(208, 218, 251);
  padding: 30px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid grey;
}

.formContainer * {
  line-height: 1.5;
}

.formTitle {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-weight: 200;
  padding: 5px 0;
}

.formInput {
  -webkit-appearance: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em;
  font-size: 0.9em;
  font-family: sans-serif;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  background: white;
  /* transition: background 0.25s, border-color 0.25s, color 0.25s; */
}

.formInput:focus {
  background: #f9f9f9;
  border-color: rgb(40, 59, 250);
}

.formInput::placeholder {
  color: #bbbbbb;
}

.formError {
  padding-top: 10px;
  color: red;
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 30px;
}

.formButton {
  background: white;
  padding: 4px 20px;
  border: 1px solid rgb(0, 83, 216);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  line-height: 1.5;
  transition-property: background;
  transition-duration: 0.25s;
  font-size: 14px;
}

.formButton:hover {
  background: rgb(218, 243, 251);
  text-decoration: underline;
}

.formRadio {
  font-size: 14px;
  margin-top: 5px;
}

@media only screen and (max-width: 900px) {
  .inner {
    width: 60%;
  }
  .innerException {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .inner {
    width: 85%;
  }
  .innerException {
    width: 90%;
  }
}

.navBack {
  background: transparent;
  width: 100vw;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

.navBackLink {
  margin-left: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  color: blue;
  cursor: pointer;
  text-decoration: none !important;
}

.navBackLink:hover {
  text-decoration: underline !important;
}

.topbar {
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: rgb(215, 227, 250);
}

.topbar button {
  height: 100%;
  cursor: pointer;
  border: 0px solid white;
  margin: 0px 30px;
  padding: 0px 20px;
  font-weight: bold;
  background: transparent;
  font-size: 16px;
  line-height: 50px;
  border-radius: 5px;
  display: inline-block;
}

img {
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.topbar button:hover {
  border: 0px solid white;
  background-color: #e7eeff;
}
